@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Joan&family=Lato:wght@300&family=Lobster&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    color: #415161;
    background-color: #f8f9fb;
}

h1 {
    color: #415161;
}

hr {
    padding: 25px;
}

/* logo */ 

#logo {
    font-family: Lobster, Helvetica;
    float: left;
    font-size: 250%;
    margin-left: 30px;
}

/* navigation links */

header {
    position: sticky;
    top: 0px;
    width: 100%;
    background-color: #f8f9fb;
    height: 75px;
    z-index: 9999999;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    display: flex;
    flex-direction: row;
    float: right;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #415161;
}

body.rides li.rides a {
    border-bottom: 1px solid #415161;
}

body.sign-up li.sign-up a {
    border-bottom: 1px solid #415161;
}

/* home page video */

#home-page-video-container {
    overflow: hidden;
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    width: auto;
}

#home-page-video {
    max-width: 100%;
}

/* #home-page-video {
    overflow: hidden;
    position: relative;
    z-index: -1;
} */

/* main text */

#welcome-box {
    width: 400px;
    height: 350px;
    position: absolute;
    top: 250px;
    left: 75px;
    background-color: #f8f9fb;
    opacity: 80%;
    font-family: Lobster, Helvetica;
}

#welcome-box h2, #welcome-box h3, #welcome-box p {
    text-align: justify;
    padding: 15px 15px;
}

#welcome-box p {
    font-family: Helvetica, sans-serif;
    font-style: italic;
    font-weight: 400;
}

#rides-page-link {
    margin: 15px auto;
    padding: 10px;
    width: 33%;
    display: block;
    text-align: center;
    font-size: 110%;
    border: 2px solid black;
    background-color: #222722;
    color: #f8f9fb;
    text-decoration: none;
    font-family: Lobster, Helvetica;
    cursor: pointer;
    transition-duration: 0.5s;
}

#rides-page-link:hover {
    background-color: white;
    color: #415161;
}

/* footer */

footer {
    height: 150px;
    background-color: #f8f9fb;
}

#social-media {
    text-align: center;
}

#social-media li {
    display: inline;
}

#social-media i {
    margin: 10px;
    padding: 20px;
    font-size: 200%;
    color: #415161;
}

footer p {
    text-align: justify;
    display: block;
    text-align: center;
    padding-bottom: 30px;
}

/* rides page */

body.rides {
    background-color: white;
}

/* rides page video */

#rides-page-video-container {
    overflow: hidden;
    top: 0;
    bottom: 0;
    width: auto;
}

#rides-page-video {
    max-width: 100%;
}

/* rides box */

#rides-box {
    width: 500px;
    height: 400px;
    position: absolute;
    top: 250px;
    left: 75px;
    background-color: #f8f9fb;
    opacity: 80%;
    font-family: Lobster, Helvetica;
}

#rides-box h1, #rides-box p {
    text-align: justify;
    padding: 15px 15px;
}

#rides-box p {
    font-family: Helvetica, sans-serif;
    font-style: italic;
    font-weight: 400;
}

#sign-up-link {
    font-size: 120%;
    font-family: Lobster, Helvetica, sans-serif;
    color: #415161;
}

#sign-up-link:hover {
    color: black;
}

/* about rides */

/* #about-rides {
    height: 300px;
    width: 1200px;
    color: #415161;
    margin: 10px;
    padding: 30px
} */

/* #about-rides h1{
    font-family: Lobster, Helvetica, sans-serif;
    font-size: 200%;
}

#about-rides p {
    font-style: italic;
    padding-top: 20px;
    text-align: left;
} */

/* location and google map */

#location-outer {
    height: 500px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

#location {
    float: left;
    margin: 10px;
    padding: 30px
}

#map {
    float: right;
    margin: 10px;
    padding: 30px;
}

#location h2 {
    font-size: 150%;
    font-family: Lobster, Helvetica, sans-serif;
    text-decoration: underline;
}

#location h4 {
    font-family: Helvetica, sans-serif;
    font-style: italic;
    padding-top: 20px;
}

/* ride times table */

#ride-times {
    padding-top: 20px;
}

.day {
    font-weight: 600;
}

.time {
    font-weight: 400;
    padding: 20px;
}

/* sign-up page */

/* sign-up video */

#sign-up-video-container {
    overflow: hidden;
    top: 0;
    bottom: 0;
    width: auto;
}

#sign-up-video {
    max-width: 100%;
}

#sign-up-box {
    width: 400px;
    height: 600px;
    position: absolute;
    top: 150px;
    left: 75px;
    background-color: #f8f9fb;
    opacity: 80%;
    padding: 20px;
    font-family: Lobster, Helvetica;
}

#sign-up-box h4 {
    padding: 25px 0px;
}

/* sign-up form */

.form {
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    flex-direction: column;
    z-index: 1;
}

.label {
    font-size: 120%;
}

.input {
    border: 1px solid #415161;
    margin-top: 10px;
    width: 100%;
    height:30px;
}

.input:hover {
    border: 2px solid black;
}

.submit {
    font-size: 120%;
    font-family: Lobster, Helvetica, sans-serif;
    color: white;
    background-color: black;
    border: 2px solid black;
    width: 100%;
    height:30px;
    cursor: pointer;
}

.submit:hover {
    background-color: white;
    color: #415161;
}
