@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Joan&family=Lato:wght@300&family=Lobster&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    color: #415161;
    background-color: #f8f9fb;
}

h1 {
    color: #415161;
}

/* HEADER */

header {
    position: sticky;
    top: 0%;
    width: 100%;
    background-color: #f8f9fb;
    height: 75px;
    z-index: 9999999;
}

/* logo */ 

#logo {
    font-family: Lobster, Helvetica, sans-serif;
    float: left;
    font-size: 250%;
    margin-left: 30px;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    display: flex;
    flex-direction: row;
    float: right;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #415161;
}

body.home li.home a {
    border-bottom: 1px solid #415161;
}

body.rides li.rides a {
    border-bottom: 1px solid #415161;
}

body.sign-up li.sign-up a {
    border-bottom: 1px solid #415161;
}

/* HOME PAGE */

/* welcome box container */

#welcome-box-container {
    position: relative;
    width: 100%;
    overflow: hidden;

    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-box {
    left: 10%;
    width: 40%;
    height: auto;
    background-color: #f8f9fb;
    position: absolute;
    opacity: 80%;
}

.main-text {
    display: inline-block;
    padding: 4%;
}

.main-text h2, .main-text h3 {
    font-family: Lobster, Helvetica, sans-serif;
}

.main-text h2, .main-text h3, .main-text p {
    padding: 4%;
}

.main-text p {
    font-family: Helvetica, sans-serif;
    font-style: italic;
    font-weight: 400;
}

#rides-page-link {
    margin: 15px auto;
    padding: 10px;
    width: 33%;
    display: block;
    text-align: center;
    font-size: 110%;
    border: 2px solid black;
    background-color: black;
    color: #f8f9fb;
    text-decoration: none;
    font-family: Lobster, Helvetica;
    cursor: pointer;
    transition-duration: 0.5s;
}

#rides-page-link:hover {
    background-color: white;
    color: #415161;
}

/* FOOTER */

footer {
    height: auto;
    background-color: #f8f9fb;
}

#social-media {
    text-align: center;
}

#social-media li {
    display: inline;
}

#social-media i {
    margin: 10px;
    padding: 20px;
    font-size: 200%;
    color: #415161;
}

#social-media a {
    text-decoration: none;
}

footer p {
    text-align: justify;
    display: block;
    text-align: center;
    padding-bottom: 30px;
}

/* RIDES PAGE */

/* rides box container */

#rides-box-container {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sign-up-link {
    font-size: 120%;
    font-family: Lobster, Helvetica, sans-serif;
    color: #415161;
}

#sign-up-link:hover {
    color: black;
}

/* location container */

#location-container {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    text-align: left;
    display: flexbox;
    align-items: center;
    justify-content: center;
}

/* location */

#location {
    float: left;
    margin-left: 30px;
    padding-top: 4%;
}

#location h2 {
    font-size: 150%;
    font-family: Lobster, Helvetica, sans-serif;
    text-decoration: underline;
}

#location h4 {
    font-family: Helvetica, sans-serif;
    font-style: italic;
    padding-top: 4%;
}

#ride-times {
    padding-top: 20px;
}

.day {
    font-weight: 600;
}

.time {
    font-weight: 400;
    padding: 20px;
}

/* map */

#map {
    float: right;
    margin-right: 30px;
    padding-top: 4%;
    padding-bottom: 2%;
}

/* MEDIA QUERIES */

/* for screen sizes 1200px wide or less */

@media screen and (max-width: 1200px) {
    #ride-times {
        max-width: 100%;
        height: auto;
    }

    #map {
        float: left;
        max-width: 100%;
        height: auto;
    }
}

/* for screen sizes 950px wide or less */

@media screen and (max-width: 950px) {
    header{
        height: 150px;
    }

    .text-box {
        width: 60%;
    }
}

/* for screen sizes 490px wide or less */

@media screen and (max-width: 490px) {
    header{
        height: auto;
    }

    #logo {
        font-size: 200%;
    }

    #menu {
        float: left;
        margin-left: 35px;
        font-size: 90%;
        display: flex;
        line-height: 25px;
    }

    .text-box {
        width: 80%;
    }
}


/* for screen sizes 450px wide or less */

@media screen and (max-width: 450px) {
    header{
        height: 200px;
    }

    #logo {
        font-size: 150%;
    }

    #menu {
        float: left;
        margin-left: 35px;
        font-size: 80%;
        display: flex;
        flex-direction: column;
        line-height: 25px;
    }

    .text-box {
        width: 80%;
    }

    #footer {
        height: 50px;
    }

    #social-media i {
        margin: 5px;
        padding: 2%;
        color: #415161;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    footer p {
        text-align: justify;
        display: block;
        text-align: center;
        padding-bottom: 5px;
        font-size: 80%;
    }
}