@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Joan&family=Lato:wght@300&family=Lobster&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    color: #415161;
    background-color: #f8f9fb;
}

h1 {
    color: #415161;
}


/* HOME PAGE */

/* welcome box container */

#welcome-box-container {
    position: relative;
    width: 100%;
    overflow: hidden;

    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

#welcome-box {
    left: 15%;
    width: 40%;
    height: auto;
    background-color: #f8f9fb;
    position: absolute;
    opacity: 80%;
}

#welcome-text {
    display: inline-block;
    padding: 2%;
}

#welcome-text h2, #welcome-text h3, #welcome-text p {
    padding: 2%;
}

#welcome-text p {
    font-family: Helvetica, sans-serif;
    font-style: italic;
    font-weight: 400;
}

#rides-page-link {
    margin: 15px auto;
    padding: 10px;
    width: 33%;
    display: block;
    text-align: center;
    font-size: 110%;
    border: 2px solid black;
    background-color: black;
    color: #f8f9fb;
    text-decoration: none;
    font-family: Lobster, Helvetica;
    cursor: pointer;
    transition-duration: 0.5s;
}

#rides-page-link:hover {
    background-color: white;
    color: #415161;
}
